.lightMode {

    background-color: hsla(0, 0%, 100%, 1) !important;
    background-image: radial-gradient(at 0% 100%, hsla(204, 83%, 76%, 1) 0px, transparent 50%) !important;
    background: radial-gradient(at 100% 0%, hsla(278, 77%, 63%, 1) 0px, transparent 50%) !important;
}

.darkMode {
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(at 0% 100%, hsla(203, 75%, 73%, 0.71) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(278, 76%, 63%, 0.86) 0px, transparent 50%);
}

.nav-bg-light {
    /* From https://css.glass */
    background: rgba(49, 49, 49, 0.06) !important;
    border-radius: 5px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5.4px) !important;
    -webkit-backdrop-filter: blur(5.4px) !important;
    border: 1px solid rgba(49, 49, 49, 0.3) !important;


}

.nav-bg-dark {
/* From https://css.glass */
background: rgba(88, 88, 88, 0.27) !important;
border-radius: 16px !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
backdrop-filter: blur(7.9px) !important;
-webkit-backdrop-filter: blur(7.9px) !important;
border: 1px solid rgba(88, 88, 88, 0.3) !important;
}